h1 {
	display: block;
	text-align: center;
	font-size: 8vh;
	margin-bottom:0;
}
nav {
	font-size: 3vh;
	text-align: center; 
	background-color: #EEB8FF;
	margin-top: 1vh;
}
nav ul {
	list-style: none;
	list-style-type: none;
	display: flex;
	text-align: justify;
	justify-content: space-around;
	margin-left: 0;
	overflow-x: scroll;
}
nav ul li a {
	overflow: hidden;
	white-space: nowrap;
	padding: 1px;
	text-decoration: none;
	color: #BF0000;
}
body {
	display: block;
	background-color: #FAEAFF; 
	color: #BF0000;
}
