h1 {
	display: block;
	text-align: center;
	font-size: 8vh;
	margin-bottom:0;
}
nav {
	font-size: 3vh;
	text-align: justify; 
	background-color: #EEB8FF;
	margin-top: 1vh;
}
nav ul {
	list-style: none;
	list-style-type: none;
	display: flex;
	text-align: justify;
	justify-content: space-around;
	overflow: scroll;
	padding-left: 0;
	margin-left: 0;
}
nav ul li {
	white-space: nowrap;
	display: inline;
	text-decoration: none;
	color: #BF0000;
}
body {
	display: block;
	background-color: #FAEAFF; 
	color: #BF0000;
}
.body {
	margin: 2vw;
}
